<%= form_with model: Comment.new, local: true, class: 'flex flex-center flex-col flow' do |f| %>
  <div class='form__field flex flex-center flex-col'>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :commentable_id, value: post.id %>
    <%= f.text_area :body, placeholder: 'Have something to say?' %>
  </div>
  <div class='form__actions flex flex-center'>
    <%= f.submit 'Submit', class: 'bg-blue clr-white' %>
  </div>
<% end %>
