<header>
  <h2>Admin Dashboard</h2>
  <em>Unlimited Power</em>
</header>

<main>
  <section id='admin_actions'>
    <%= link_to 'See All Tags', tags_path %>
    <%= link_to 'See All Users', users_path %>
  </section>

  <section id='posts_by_status'>
    <div id='posts_by_open'>
      <% @posts.select(&:open?).sort_by(&:created_at).each do |post| %>
        <%= render partial: 'posts/post', locals: { post: post, user: post.user } %>
      <% end %>
    </div>

    <div id='posts_by_pending'>
      <% @posts.select(&:pending?).sort_by(&:created_at).each do |post| %>
        <%= render partial: 'posts/post', locals: { post: post, user: post.user } %>
      <% end %>
    </div>

    <div id='posts_by_resolved'>
      <% @posts.select(&:resolved?).sort_by(&:created_at).each do |post| %>
        <%= render partial: 'posts/post', locals: { post: post, user: post.user } %>
      <% end %>
    </div>

    <div id='posts_by_closed'>
      <% @posts.select(&:closed?).sort_by(&:created_at).each do |post| %>
        <%= render partial: 'posts/post', locals: { post: post, user: post.user } %>
      <% end %>
    </div>
  </section>

  <section id='admin_mod_leaderboard'>
    <div id='admin_mod_by_resolved'>
      <% @admin_mods.sort_by(&:num_resolved).each do |user| %>
        <%= render partial: 'users/user', locals: { user: user } %>
      <% end %>
    </div>

    <div id='admin_mod_by_most_upvoted'>
      <% @admin_mods.sort_by(&:num_upvotes).each do |user| %>
        <%= render partial: 'users/user', locals: { user: user } %>
      <% end %>
    </div>

    <div id='admin_mod_by_most_downvoted'>
      <% @admin_mods.sort_by(&:num_downvotes).each do |user| %>
        <%= render partial: 'users/user', locals: { user: user } %>
      <% end %>
    </div>
  </section>
</main>
