<header>
  <h2>User Administration Dashboard</h2>
  <em>Mostly unlimited power</em>
</header>

<main>
  <%= form_with url: users_path, method: :get, local: true do |f| %>
    <div class='inline_form_field'>
      <%= f.text_field :search, placeholder: 'Search users by username' %>
      <%= f.submit 'Search' %>
      <%= link_to 'Clear Search', users_path %>
    </div>
  <% end %>

  <div class='grid grid-2 gg-1'>
    <%= render(@users) || 'No users to display here.' %>
  </div>
</main>
