<main class='flow'>
  <%= form_with url: users_path, method: :get, local: true, html: { class: 'flex flex-center flex-col flow' } do |f| %>
    <div class='form__field flex flex-center flex-col flow'>
      <div class='form__field flex flex-center flex-col flow'>
        <%= f.text_field :search, placeholder: 'Search users by username' %>
      </div>
      <div class='form__actions'><%= f.submit 'Search', class: 'bg-blue clr-white' %></div>
      <%= link_to 'Clear Search', users_path %>
    </div>
  <% end %>

  <div class='flex flex-center flex-row flow-left'>
    <p>Sort by: </p>
    <%= link_to 'Most Posts', users_path(sort_by: 'posts') %>
    <%= link_to 'Most Comments', users_path(sort_by: 'comments') %>
    <p>Filter: </p>
    <%= link_to 'Admin', users_path(filter: 'admin') %>
    <%= link_to 'Moderators', users_path(filter: 'moderator') %>
    <%= link_to 'Users', users_path(filter: 'user') %>
  </div>

  <%= @users.any? ? render(partial: 'users') : render(partial: 'no_users') %>
</main>
