<main class='flow'>
  <%= form_with url: users_path, method: :get, local: true, html: { class: 'flex flex-center flex-col flow' } do |f| %>
    <div class='form__field flex flex-center flex-col flow'>
      <div class='form__field flex flex-center flex-col flow'>
        <%= f.text_field :search, placeholder: 'Search users by username' %>
      </div>
      <div class='form__actions'><%= f.submit 'Search', class: 'bg-blue clr-white' %></div>
      <%= link_to 'Clear Search', users_path %>
    </div>
  <% end %>

  <div class='grid grid-2 gg-1'>
    <%= render(@users) || render(partial: 'no_users') %>
  </div>
</main>
