<main class='flex flex-center flex-col'>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'flex flex-center flex-col flow bg-light-purple border br-15 ds-blue min-w-30 min-h-50'}) do |f| %>
    <h1>Welcome to Future Feedback!</h1>
    <h2>Please log in below:</h2>
    <div class='form__field flex flex-center flex-col'>
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class='form__field flex flex-center flex-col'>
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class='form__field flex flex-start flex-row'>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class='form__actions'>
      <%= f.submit 'Log In' %>
    </div>

    <%= render 'devise/shared/links' %>
  <% end %>
</main>
