<%= form_with model: @post, local: true, class: 'flex flex-center flex-col flow'  do |f| %> 
  <div class='form__field'>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </div>

  <div class='__field'>
    <%= f.label :content %> <br>
    <%= f.rich_text_area :content %>
  </div>

  <div class='form__field'>
    <%= f.label :tag_ids, 'Tags:' %>
    <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name %>
  </div>

  <div class='form__actions'>
    <%= f.submit class: 'bg-blue clr-white' %>
  </div>
<% end %>
