<% if !!flash[:errors] %>
    <ul>
        <% flash[:errors].each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>

<%= @post.status %>

<%= form_with model: @post, local: true  do |f| %> 
  <div class='form_field'>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class='form_field'>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class='form_field'>
    <%= f.label :tag %>
    <%= f.collection_select :post_tag_id, Tag.all, :id, :name %>
  </div>

  <%= f.submit %>
<% end %>
