<div class='card'>
  <div class='card__header'>
    <img src=<%= post.user.gravatar_url %> class='border'>
  </div>
  <div class='card__content bg-blue'>
    <h3><%= link_to truncate(post.title, length: 30), post %></h3>
    <h4><%= link_to post.user.username, user_path(post.user.username) %></h3>
    <p><%= link_to "#{post.get_upvotes.size} upvotes", post %> <%= link_to "#{post.get_downvotes.size} downvotes", post %></p>
  </div>
</div>
