<div class='card ds-blue bg-light-purple border'>
  <div class='card__header'>
    <img src=<%= post.user.gravatar_url %> class='border'>
  </div>
  <div class='card__content'>
    <h3><%= link_to truncate(post.title, length: 30), post %></h3>
    <h4><%= link_to post.user.username, user_path(post.user.username) %></h3>
    <h5> <%= post.get_upvotes.size %> Upvotes <%= post.get_downvotes.size %> Downvotes </h5>
  </div>
</div>
