<header>
  <h1><%= @post.title %></h1>
  <%= render partial: 'users/user', locals: { user: @post.user } %>
</header>

<main>
  <div class='post_content'>
    <p><%= @post.content%><p>
  </div>

  <div class='post_votes'>
    <%= link_to like_post_path(@post), method: :put, class: 'upvote' do %>
      Like <%= @post.get_upvotes.size %>
    <% end %>
    <%= link_to dislike_post_path(@post), method: :put, class: 'downvote' do %>
      Dislike <%= @post.get_downvotes.size %>
    <% end %>
  </div>
  
  <h3>Comments</h3>
  <%= render partial: 'comments/comment', collection: @post.comments %>


</main>
