<header class='grid gg-1' id='post__header'>
  <div id='post__title'>
    <h1><%= @post.title %></h1>
    <div class='flex flex-row flex-start flow-left flex-wrap'>
      <%= render partial: 'tags/tag', collection: @post.tags, locals: { post: @post } %>
    </div>
  </div>
  <%= render partial: 'users/user', locals: { user: @post.user } %>
</header>

<main>
  <div id='post__content'>
    <div id='post__votes'>
      <%= link_to like_post_path(@post), method: :put, class: 'upvote' do %>
        Upvote <%= @post.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_post_path(@post), method: :put, class: 'downvote' do %>
        Downvote <%= @post.get_downvotes.size %>
      <% end %>
    </div>

    <p><%= @post.content %></p>

    <div id='post__votes'>
      <%= button_to like_post_path(@post), method: :put, class: 'upvote' do %>
        Upvote <%= @post.get_upvotes.size %>
      <% end %>
      <%= button_to dislike_post_path(@post), method: :put, class: 'downvote' do %>
        Downvote <%= @post.get_downvotes.size %>
      <% end %>
    </div>
    <div id='post_buttons'>
      <%= button_to 'Edit Post', edit_post_path(@post), :method => :get %>
      <%= button_to 'Delete Post', post_path(@post), method: :delete,  data: {confirm: "Are you sure?"} %>
    </div>
  </div>
    
  <div id='post__comments'>
    <%= render partial: 'comments/new', locals: { post: @post } %>
    <h4>Comments</h4>
    <% if @post.comments.any? %>
      <% @post.comments.each do |comment| %>
              <%#= link_to "#{comment.get_upvotes.size} upvotes", @post %> <%#= link_to "#{comment.get_downvotes.size} downvotes", @post %></p>

        <%= render partial: 'comments/comment', locals: { comment: comment } %>
      <% end %>
    <% else %>
      <p>There aren't any comments yet!</p>
    <% end %>
  </div>
</main>
