<header class='flow border-bottom-dotted'>
  <h1><%= @post.title %></h1>
  <div class='flex flex-row flex-start flow-left flex-wrap'>
    <%= render partial: 'tags/tag', collection: @post.tags, locals: { post: @post } %>
  </div>
</header>

<main class='flow'>
  <em class='txt-sm'><%= link_to @post.user.username, @post.user %> <%= " #{@post.written_date}" %></em>
  <div class='post__content'>
    <%= @post.content %>
  </div>

  <%= render partial: 'votes', locals: { post: @post } %>

  <div id='post_buttons'>
    <%= button_to 'Edit Post', edit_post_path(@post), :method => :get %>
    <%= button_to 'Delete Post', post_path(@post), method: :delete,  data: {confirm: "Are you sure?"} %>
  </div>
    
  <div id='post__comments'>
    <%= render partial: 'comments/new', locals: { post: @post } %>
    <h4>Comments</h4>
    <% if @post.comments.any? %>
      <% @post.comments.each do |comment| %>
        <%= render partial: 'comments/comment', locals: { comment: comment } %>
      <% end %>
    <% else %>
      <p>There aren't any comments yet!</p>
    <% end %>
  </div>
</main>
