<header class= 'grid grid-2 gg-1' id='post__header'>
  <h1><%= @post.title %></h1>
  <%= render partial: 'users/user', locals: { user: @post.user } %>
</header>

<main>
  <div class='flex flex-row'>
    <p><%= @post.content%><p>
  </div>
  
    <%= button_to 'Edit Post', edit_post_path(@post), :method => :get %> <br>
    
    <%= button_to 'Delete Post', post_path(@post), method: :delete,  data: {confirm: "Are you sure?"} %>


  <div class='post_votes'>
    <%= link_to like_post_path(@post), method: :put, class: 'upvote' do %>
      Like <%= @post.get_upvotes.size %>
    <% end %>
    <%= link_to dislike_post_path(@post), method: :put, class: 'downvote' do %>
      Dislike <%= @post.get_downvotes.size %>
    <% end %>
  </div>


  
  <h6>Comments</h6>
  <%= render partial: 'comments/form' %>
  <%= render partial: 'comments/comment', collection: @post.comments.reverse %>


</main>
