<!DOCTYPE html>
<html>
  <head>
    <title>FutureFeedback</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'> <!-- Entire body should be wrapped in container -->

      <!-- Univeral overhead navigation -->
      <nav>
        <ul>
          <li><a href='/'>&#9749;</a></li>
          <% if user_signed_in? %>
            <li><%= link_to 'Account', user_path(current_user.username) %></li>
          <% end %>
          <% if current_user.try(:admin?) %>
            <li><%= link_to 'Admin Dashboard', admin_path %></li>
          <% end %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>

      <!-- Handling for flash messages -->
      <% if flash.any? %>
        <div class='flash_messages'>
          <% flash.each do |flash_key, flash_message| %>
              <% if flash_message.kind_of?(Array) %>
                <% flash_message.each do |message| %>
                  <%= content_tag :div, message, class: "flash_#{flash_key.singularize}"%>
                <% end %>
              <% else %>
                <%= content_tag :div, flash_message, class: "flash_#{flash_key}" %>
              <% end %>
          <% end %>
        </div>
      <% end %>

      <%= yield %> <!-- Main block of content -->

      <!-- Universal footer -->
      <footer>
        <p>Made with &#9749; by Nathan Chung & Alec DuBois</p>
      </footer>

    </div>
  </body>
</html>
