<!DOCTYPE html>
<html>
  <head>
    <title>FutureFeedback</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Univeral overhead navigation -->
    <nav>
      <ul>
        <li><a href='/'><span class='ff-logo'>FF</span></a></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Account', user_path(current_user.username) %></li>
        <% end %>
        <li>&#9749;</li>
      </ul>
    </nav>

    <%= yield %> <!-- Main block of content -->

    <!-- Universal footer -->
    <footer>
      <p>Made with &#9749; by Nathan Chung & Alec DuBois</p>
    </footer>
  </body>
</html>
