<!DOCTYPE html>
<html>
  <head>
    <title>FutureFeedback</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>

  <body>
    <div class='bg-white bg-fill'></div>
      <!-- Univeral overhead navigation -->
      <% if user_signed_in? %>
        <div class='grid gg-1 grid-3'>
          <nav>
            <ul class='flex flex-row'>
              <li class='px-1'><a href='/'>&#9749;</a></li>
              <li class='px-1'><%= link_to 'Profile', user_path(current_user.username) %></li>
            </ul>
          </nav>
          <nav>
            <ul class='flex flex-row flex-center'>
              <% if current_user.try(:admin?) %>
                <li class='px-1'><%= link_to 'Users Administration', users_path %></li>
                <li class='px-1'><%= link_to 'Tags Administration', users_path %></li>
              <% end %>
            </ul>
          </nav>
          <nav>
            <ul class='flex flex-row flex-end'>
              <li class='px-1'><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
            </ul>
          </nav>
        </div>
      <% end %>

      <!-- Handling for flash messages -->
      <% if flash.any? %>
        <div class='flash_messages'>
          <% flash.each do |flash_key, flash_message| %>
              <% if flash_message.kind_of?(Array) %>
                <% flash_message.each do |message| %>
                  <%= content_tag :div, message, class: "flash_#{flash_key.singularize}"%>
                <% end %>
              <% else %>
                <%= content_tag :div, flash_message, class: "flash_#{flash_key}" %>
              <% end %>
          <% end %>
        </div>
      <% end %>

      <!-- Main block of content -->
      <div class='container'>
        <%= yield %>
      </div>

      <!-- Universal footer -->
      <footer class='px-1 txt-center'>
        <p>Made with &#9749; by Nathan Chung & Alec DuBois</p>
      </footer class='flex container px-1'>
    </div>
  </body>
</html>
